@media (max-width: 900px) {
  .unique-product-offer {
    flex-direction: column;
    padding: 34px 30px 34px;
    gap: 50px;
  }

  .unique-product-offer__img-container {
    /* max-width: 400px; */
    max-height: initial;
    width: 70%;
    margin: 0 auto;
    /* height: 445px; */
    /* flex-basis: 40%; */
    /* height: 100px; */
    /* flex-shrink: 1; */
  }
}
