.food-preparation {
}

.food-preparation__video-container {
  height: 466px;
  position: relative;
}

.food-preparation__control-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  z-index: 999;
  transition: var(--animation-time);
}

.food-preparation__control-btn:hover {
  width: 84px;
  height: 84px;
}

.food-preparation__control-btn-icon,
.food-preparation__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.food-preparation__info {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.food-preparation__title-container {
  flex-basis: 21%;
}

.food-preparation__desc1,
.food-preparation__desc2 {
  flex-basis: 32.5%;
  color: var(--general-font-color);
  font-size: 1.25rem;
  line-height: 150%;
}
