.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.slick-track .slick-slide:nth-child(4n + 1) .review-card {
  background: #a2e0db;
}

.slick-track .slick-slide:nth-child(4n + 2) .review-card {
  background: #f5dfc1;
}

.slick-track .slick-slide:nth-child(4n + 3) .review-card {
  background: #b7cfb7;
}

.slick-track .slick-slide:nth-child(4n) .review-card {
  background: #ffdbcb;
}

.slick-track .slick-slide:nth-child(4n + 1) .review-card__star {
  color: #dbf923;
}

.slick-track .slick-slide:nth-child(4n + 2) .review-card__star {
  color: #ff5722;
}
.slick-track .slick-slide:nth-child(4n + 3) .review-card__star {
  color: #4285f4;
}

.slick-track .slick-slide:nth-child(4n) .review-card__star {
  color: #6dcb55;
}

/* .slick-track {
  display: flex;
  align-items: stretch;

  .slick-slide {
      height: auto;
      display: flex;

      > div {
          display: flex;
      }
  }
} */
